body{
    width: 100%;
    height: 100%;
}
#mycanvas {
    display: block;
    margin: 50px auto;
    border-style: dashed;
    border-width: 1px;
}
#imgData {
    margin: 50px auto;
    height: 200px;
    display: block;
    width: 50%;
    text-align: left;
}
.imgBtn {
    display: block;
    margin: 50px auto;

}